
{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}

{% block body %}
<body>
    <h1>{{course.courseName}}</h1>
    <h2>Students Enrolled</h2>
    <table>
    <tr>
      <th>Name</th>
      <th>Grade</th>
    </tr>
    {% for grade in studentGrades %}
    <tr>
      <td>{{studentGrades[grade]['name']}}</td>
       <td contenteditable="true" onChange="updateGrades()">{{studentGrades[grade]['grade']}}</td>
       <td><button onClick="updateGrades(grade)">Update</button></td>
       <td hidden id="course_id">{{course.id}}</td>
       <td hidden id="student_id">{{studentGrades[grade]['id']}}</td>
    </tr>
    {% endfor %}
    </table>
    <br>
    <button><a href="{{ url_for('teacher') }}" onclick="updateGrades()">Back</a></button>
    <!-- <button><a onclick="updateGrades()">Update</a></button> -->
    <button><a href="{{url_for('logout')}}">Logout</a></button>

</body>
<script src="{{url_for('static', filename='teacher.js')}}"></script>
{% endblock %}