
{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}

{% block body %}
<body>
    <h1>Course Name</h1>
    <h2>Students Enrolled</h2>
    <table>
    <tr>
      <th>Name</th>
      <th>Grade</th>
    </tr>
    <tr>
      <td>ouais</td>
        <td>90</td>

    </tr>
    <tr>
      <td>Luis Gonzalez</td>
       <td>85</td>
    </tr>
    <tr>
      <td>Luis Gonzalez</td>
        <td>91</td>
    </tr>
    </table>
    <br>
    <a href="{{ url_for('teacher') }}">Back</a>


</body>
{% endblock %}